<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>NC Reentry Resource Hub</title>
    <!-- <link rel="stylesheet" href="bundle.css"> -->
    <link rel="stylyesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css" />
  </head>
  <body>
    <div id="app">{{{app}}}</div>
    <script src="/scripts/bundle.js"></script>
  </body>
</html>
