body {
  font-family: 'Open Sans', sans-serif;
  overflow-y: none;
}

header.site-header, nav.navbar, .navbar-header {
  background: hsl(198, 95%, 38%);
  font-family: Lato, sans-serif;
}

.navbar-header {
  width: 100%;
}

.navbar-default .navbar-brand {
  color: #fff;
  font-size: 2em;
  line-height: 1.15em;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  text-decoration: underline;
  color: #fff;
}

.navbar-nav {
  overflow: none;
  /* margin: 0; */
  /* width: 100%; */
  font-size: 1.15em;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: inherit;
}

.navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar {
  opacity: 0.5;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  list-style: none;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  text-decoration: underline;
}

.navbar-default .navbar-nav > li > a.selected {
  background-color: #fff;
  border-radius: 10px 10px 0px 0px;
  color: inherit;
}

.content-body {
  font-size: 2rem;
  line-height: 2.0em;
}

.county-item {
  padding: 2px 20px;
}

.county-button {
  padding: 0px;
  width: 100%;
  text-align: left;
  display: inline-block;
}

.county-item:hover {
  background-color: #e4edff;
}

.page-text {
  padding: 2vh 12.5vw 2vh 12.5vw;
}

.site-footer {
  font-family: Lato, sans-serif;
  padding: 2em;
  font-size: 1.25rem;
  color: #fff;
  background: hsl(198, 95%, 38%);
  text-align: center;
}

.site-footer p {
  padding: 0 15vw 0 15vw;
}

.site-footer p a {
  color: #fff;
  text-decoration: underline;
}

.site-footer p a:focus, .site-footer p a:hover {
  opacity: 0.8;
}
