body {
  font-family: 'Open Sans', sans-serif;
}

.navbar-header {
  background: hsl(198, 95%, 38%);
  font-family: Lato, sans-serif;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  text-decoration: underline;
  color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: inherit;
}

.navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar {
  opacity: 0.5;
}

nav li {
  list-style: none;
  display: inline-block;
  margin: 0 0.5em 0 0;
}

nav li a.selected {
  color: #23527c;
}


.topic-name {
  background-color: #fff;
  z-index: 2;
  padding-left: 10%;
}

.topic-header-row {
  background-color: #fff;
  z-index: 2;
}

.content-body {
  font-size: 2rem;
  line-height: 2.0em;
}

/*.content-body ul {
  list-style-type: none;
}*/

.google-search {
  float: right;
  width: 20%;
}

.site-footer {
  font-family: Lato, sans-serif;
  padding: 2em;
  font-size: 1.6rem;
  color: #fff;
  background: hsl(198, 95%, 38%);
  text-align: center;
}

.county-modal-list {
  text-align: center;
}

.modal-title {
  text-align: center;
}

.county-item {
  padding: 2px 20px;
}

.county-button {
  padding: 0px;
  width: 100%;
  text-align: left;
  display: inline-block;
}

.county-item:hover {
  background-color: #e4edff;
}

.page-text {
  padding: 2vh 12.5vw 2vh 12.5vw;
}

.input-search {
  text-align: center;
  width: 100%;
  padding: 3px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #eaeaea;
  border-color: #888686;
}

/* Make google search box appear correct*/
input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus, .gsc-search-button
{
  box-sizing: content-box;
  line-height: normal;
}
